<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>first</display-name>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.servlet.practice.MyServlet</servlet-class>
    <init-param>
    <param-name>firstData</param-name>
    <param-value>10</param-value>
    </init-param>
    <init-param>
    <param-name>secondData</param-name>
    <param-value>20</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.servlet.practice.MyServlet2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.servlet.practice.GoogleSearchServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/MS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/MS2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/GSS</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>userName</param-name>
  <param-value>admin</param-value>
  </context-param>
  <context-param>
  <param-name>password</param-name>
  <param-value>admin</param-value>
  </context-param>
</web-app>