<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>loginappwithdatabase</display-name>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.loginapp.controller.LogIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.loginapp.controller.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterUser</servlet-name>
  <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.context.listener.MyContextListener
  </listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  <filter-name>AuthFilter</filter-name>
  <filter-class>com.loginapp.auth.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AuthFilter</filter-name>
  <url-pattern>/LogIn</url-pattern>
  </filter-mapping>
</web-app>